
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3">
    <h1 class="h2">Аудитории</h1>
    <div class="btn-group">
      <div class="mr-1">Загрузка:</div>
      <div class="progress m-0" style="height: 25px">
        <div class="progress-bar bg-{{progressStyle}}" role="progressbar" [style.width.%]="congestion" [attr.aria-valuenow]="congestion" aria-valuemin="0" aria-valuemax="100">
          {{congestion | number: '1.1-1'}}%</div>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" (keyup.enter)="getSchedule(currentBuildingId)"
                   ngbDatepicker #d="ngbDatepicker" (dateSelect)="getSchedule(currentBuildingId)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="btn-group ml-2 d-none d-sm-block">
        <button class="btn btn-outline-secondary" type="button" (click)="setPrevWeek()"><span class="fa fa-arrow-left"></span></button>
        <button class="btn btn-outline-secondary" type="button" (click)="setNextWeek()"><span class="fa fa-arrow-right"></span></button>
      </div>

      <div class="dropdown ml-2">
        <button class="btn btn-outline-secondary dropdown-toggle" style="width: 100px" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ buildingName }}
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" *ngFor="let building of buildings" type="button"
                  (click)="getSchedule(building.id); buildingName = building.name;">{{ building.name }}
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th class="cell-head">Дата</th>
        <th class="cell" *ngFor="let auditorium of auditoriums">{{ auditorium.name }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let day of days; index as i">
        <td>
          <div>{{ day }}</div>
          <div>{{ getDayOfWeek(i+1).toLocaleDateString() }}</div>
        </td>
        <td *ngFor="let auditorium of auditoriums" class="dropleft level-{{ getLecturesByDay(auditorium.lectures, i+1).length }}">
          <div class="dropdown-menu" *ngIf="getLecturesByDay(auditorium.lectures, i+1).length > 0">
            <app-lectures-view [lectures]="getLecturesByDay(auditorium.lectures, i+1)"></app-lectures-view>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
