<div class="row">
  <div class="col-lg-3">
    <!--меню-->

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link {{isActiveTab('profile')}}" id="profile-tab" (click)="setActiveTab('profile')" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{isActiveTab('lectures')}}" id="lectures-tab" (click)="setActiveTab('lectures')" data-toggle="tab" href="#lectures" role="tab" aria-controls="lectures" aria-selected="false">Расписание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Привилегии</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content" id="lecturerContent">
        <div class="tab-pane fade show {{isActiveTab('profile')}}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h5 class="card-title">Основная информация</h5>
          <div class="row no-gutters">
            <div class="col-md-2">
              <img class="card-img" src="http://placehold.it/125x125" height="125px" alt="Card image cap">
            </div>
            <div class="col-md-8 ml-1" style="border: 1px solid lightgray">
              <p class="card-text m-2">ФИО: {{lecturer?.firstName}} {{lecturer?.lastName}} {{lecturer?.patronymic}}</p>
              <p class="card-text m-2">Должность: {{lecturer?.position}}</p>
              <p class="card-text m-2">Email: {{lecturer?.email}}</p>
            </div>
          </div>
          <a class="btn btn-outline-secondary mt-2" (click)="clearErrors(); createUserForm(lecturer);" data-toggle="modal" data-target="#user_form">Редактировать</a>
        </div>
        <div class="tab-pane fade show {{isActiveTab('lectures')}}" id="lectures" role="tabpanel" aria-labelledby="lectures-tab">
          <div class="card-title">
            <div class="btn-toolbar mb-3">
              <h5>Занятия</h5>

              <div class="btn-group ml-auto">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>

              <form class="form-inline ml-4">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" (keyup.enter)="getLectures()"
                           ngbDatepicker #d="ngbDatepicker" (dateSelect)="getLectures()">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <div class="btn-group ml-2">
                <button class="btn btn-outline-secondary" type="button" (click)="setPrevWeek()"><span class="fa fa-arrow-left"></span></button>
                <button class="btn btn-outline-secondary" type="button" (click)="setNextWeek()"><span class="fa fa-arrow-right"></span></button>
              </div>
            </div>
          </div>

          <table class="table table-bordered table-sm" style="max-height: 500px">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Дата</th>
              <th scope="col">Аудитория</th>
              <th scope="col">Группа</th>
              <th scope="col">Предмет</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lecture of lectures; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{lecture.date | date: 'E, d.MM HH:mm'}}</td>
              <td>{{lecture.auditorium.name}}</td>
              <td>{{lecture.group.name}}</td>
              <td>{{lecture.subject.name}}</td>
              <td>
                <a class="btn btn-link p-0" (click)="clearErrors(); createLectureForm(lecture);" data-toggle="modal" data-target="#lecture_form"><span class="fa fa-edit d-block"></span></a>
              </td>
            </tr>
            </tbody>
          </table>
          <a class="btn btn-outline-secondary mt-2" (click)="clearErrors(); createLectureForm();" data-toggle="modal" data-target="#lecture_form">Добавить</a>

          <h5 class="mt-5">Нераспределенные занятия</h5>
          <table class="table table-bordered table-sm" style="max-height: 500px">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Дата</th>
              <th scope="col">Аудитория</th>
              <th scope="col">Группа</th>
              <th scope="col">Предмет</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lecture of undefinedLectures; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{lecture.date | date: 'E, d.MM HH:mm'}}</td>
              <td>{{lecture.auditorium.name}}</td>
              <td>{{lecture.group.name}}</td>
              <td>{{lecture.subject.name}}</td>
              <td>
                <a class="btn btn-link p-0" (click)="clearErrors(); acceptLecture(lecture)">
                  <span *ngIf="loading; else add" class="spinner-border spinner-border-sm mr-1"></span>
                  <ng-template #add><span  class="fa fa-plus d-block"></span></ng-template>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
