@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: 'Roboto Mono';
  src: url(/assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf) format("truetype");
}

h1 {
  font-family: 'Roboto Mono';
}

body {
  padding-top: 56px;
}

.level-6 {
  background: #f54c54 !important;
}

.level-5 {
  background: #f58a91 !important;
}

.level-4 {
  background: #f5c08f !important;
}

.level-3 {
  background: #f5e28c !important;
}

.level-2 {
  background: #dcf584 !important;
}

.level-1 {
  background: #bff588 !important;
}

button.calendar {

}
