<div class="card-title">
  <div class="btn-toolbar mb-3">
    <h5>Аудитории</h5>

    <div class="btn-group ml-auto">
      <button class="btn btn-sm btn-outline-secondary">Import</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>

    <div class="dropdown ml-2">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{ buildingName }}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" *ngFor="let building of buildings" type="button"
                (click)="getAuditoriums(building.id); buildingName = building.name;">{{ building.name }}
        </button>
      </div>

  </div>
  </div>
</div>

<table class="table table-bordered table-sm" style="max-height: 500px">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Аудитория</th>
    <th scope="col">Вместимость</th>
    <th scope="col">Доступ</th>
    <th scope="col">Опции</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let auditorium of auditoriums; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{auditorium.name}}</td>
    <td>{{auditorium.capacity}}</td>
    <td>{{auditorium.active? 'да': 'нет'}}</td>
    <td>
      <a class="btn btn-link p-0" (click)="clearErrors(); createAuditoriumForm(auditorium);" style="color: orange" data-toggle="modal" data-target="#auditorium_form"><span class="fa fa-edit d-block"></span></a>
      <a class="btn btn-link p-0 ml-1" (click)="deleteAuditorium(auditorium.id)" style="color: red"><span class="fa fa-trash-alt d-block"></span></a>
    </td>
  </tr>
  </tbody>
</table>
<a class="btn btn-outline-success mt-2" (click)="clearErrors(); createAuditoriumForm();" data-toggle="modal" data-target="#auditorium_form">Добавить</a>
