<div class="container">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 mt-3">
    <h1 class="h2">Аудитории</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date"
                   ngbDatepicker #d="ngbDatepicker" (dateSelect)="getSchedule(currentBuildingId)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="dropdown ml-2">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Здание
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" *ngFor="let building of buildings" type="button"
                  (click)="getSchedule(building.id)">{{ building.name }}
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th>Дата</th>
        <th *ngFor="let auditorium of auditoriums">{{ auditorium.name }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Понедельник<br>{{ getDayOfWeek(1).toLocaleDateString() }}</td>
        <ng-template #popContent let-lectureView="lectureView"><div [innerHTML]="lectureView"></div></ng-template>
        <ng-template #popTitle let-auditorium="auditorium">Аудитория: {{ auditorium.name }}</ng-template>
        <td *ngFor="let auditorium of auditoriums" class="level-{{ getLecturesByDay(auditorium.lectures, 5).length }}" placement="left"
            [ngbPopover]="popContent"
            [popoverTitle]="popTitle" #p="ngbPopover" triggers="manual" container="body" (click)="toggleContent(p, auditorium, getLecturesByDay(auditorium.lectures, 5))"></td>
      </tr>
      <tr>
        <td>Вторник<br>{{ getDayOfWeek(2).toLocaleDateString() }}</td>
        <td *ngFor="let auditorium of auditoriums" class="level-{{ getLecturesByDay(auditorium.lectures, 2).length }}"></td>
      </tr>
      <tr>
        <td>Среда<br>{{ getDayOfWeek(3).toLocaleDateString() }}</td>
        <td *ngFor="let auditorium of auditoriums" class="level-{{ getLecturesByDay(auditorium.lectures, 3).length }}"></td>
      </tr>
      <tr>
        <td>Четверг<br>{{ getDayOfWeek(4).toLocaleDateString() }}</td>
        <td *ngFor="let auditorium of auditoriums" class="level-{{ getLecturesByDay(auditorium.lectures, 4).length }}"></td>
      </tr>
      <tr>
        <td>Пятница<br>{{ getDayOfWeek(5).toLocaleDateString() }}</td>
        <td *ngFor="let auditorium of auditoriums" class="level-{{ getLecturesByDay(auditorium.lectures, 5).length }}"></td>
      </tr>
      <tr>
        <td>Суббота<br>{{ getDayOfWeek(6).toLocaleDateString() }}</td>
        <td *ngFor="let auditorium of auditoriums" class="level-{{ getLecturesByDay(auditorium.lectures, 6).length }}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
